@media (max-width: 1199.5px) {
    /* custom css */
    h1{
        font-size: 3.75rem;
    }
    h1{
        font-size: 2.2rem;
    }
    h3{
        font-size: 1.9rem;
        line-height: 2.7rem;
    }
    h5{
        font-size: 1.1rem;
    }

    /* blog */

    .blog_wrapper .blog_details{
        top: 0.3rem;
        left: 0.3rem;
        right: 0.3rem;
        bottom: 0.3rem;
    }
}

@media (max-width: 991px) {
    /*navbar */
    .header-scrolled{
        height: auto;
    }
    .header_wrapper .navbar-collapse{
        margin-top: -0.1rem;
    }
    .header_wrapper .menu-navbar-nav{
        text-align: center;
        background-color: var(--bg-white);
        padding-bottom: 0.9rem;
    }
    .header_wrapper .nav-link{
        margin-top: 00.9rem;
    }
}

@media (max-width: 767px) {
    /* custom css */
    h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    h2{
        font-size: 1.9rem;
        line-height: 2.4rem;
    }
    h3{
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    /* about */
    .about_wrapper..client-info::before{
        top: 0.3rem;
        left: 2.8rem;
    }
    .about_wrapper..client-info > div{
        justify-content: center;
    }
}

@media (max-width: 575.5px) {
    /* blog */
    .blog_wrapper .blog_details{
        top: 2.2rem;
        left: 2.2rem;
        right: 2.2rem;
        bottom: 2.2rem;
    }
}

@media (max-width: 390px) {
    /*top banner */
    .banner_wrapper .banner-content h2::after{
        left: 34%;
    }
}